.product-container {
  text-align: center;

  .product{
    display: inline-table;
    background-color: white;
    width: 30%;
    margin: 1em;
    padding: 1em;
    box-shadow: 1px 2px 7px $grey;
    border-radius: 6px;
    height: 300px;

    .product-content {
      height: 150px;
      position: relative;

      .preview {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 40px;
      }
    }
  }

  .ad-image {
    display: inline-block;
    vertical-align: bottom;
    width: 30%;
    height: 300px;
    margin: 1em;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 1px 2px 7px $grey;
  }
}

.catalog-loader-top,
.catalog-loader-bottom {
  text-align: center;
  margin: 2em 0;

  h4 {
    padding-bottom: 2.5em;
  }

  .loader {
    margin: 0 auto;
  }
}

.catalog-loader-bottom {
  margin: 2em auto 8em;
}

.sorting-bar {
  background-color: $dark-grey;
  color: white;
  padding: 0.5em;
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
}

.end-of-catalog-message {
  text-align: center;
}

@media #{$small-only} {
  .product-container .product,
  .product-container .ad-image{
    width: 85%;
	}
}
@media #{$medium-only} {
  .product-container .product,
  .product-container .ad-image{
    width: 43%;
	}
}
