$light-grey: #edf2f4; //rgba(237, 242, 244, 100)
$grey: #8d99ae; //rgba(141, 153, 174, 100)
$dark-grey: #2b2d42; //rgba(43, 45, 66, 100)

$lightest-blue: #00a6fb; //rgba(0, 166, 251, 100)
$light-blue: #0582ca; //rgba(5, 130, 202, 100)
$blue: #006494; //rgba(0, 100, 148, 100)
$dark-blue: #003554; //rgba(0, 53, 84, 100)
$darkest-blue: #051923; //rgba(5, 25, 35, 100)

// We use these functions to get the ranges for the media queries variables.
@function lower-bound($range){
    @if length($range) <= 0 {
        @return 0;
    }
    @return nth($range,1);
}

@function upper-bound($range) {
    @if length($range) < 2 {
        @return 999999999999;
    }
    @return nth($range, 2);
}

// Here we define the breakpoints which will become the upper border for each media size.
$xsmall-range: (0em, 22em); /* 0, 320px */
$small-range: (22em, 40em); /* 0, 640px */
$medium-range: (40em, 64em); /* 641px, 1024px */
$large-range: (64em, 90em); /* 1025px, 1440px */
$xlarge-range: (90em, 120em); /* 1441px, 1920px */
$xxlarge-range: (120em); /* 1921px */

// Media Queries
$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$xsmall-up: $screen !default;
$xsmall-only: "#{$screen} and (max-width: #{upper-bound($xsmall-range)})" !default;

$small-up: "#{$screen} and (min-width:#{lower-bound($small-range)})" !default;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})" !default;

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})" !default;
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})" !default;

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})" !default;
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})" !default;

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})" !default;
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})" !default;

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})" !default;
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})" !default;

$retina: (
  "#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
  "#{$screen} and (min--moz-device-pixel-ratio: 2)",
  "#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
  "#{$screen} and (min-device-pixel-ratio: 2)",
  "#{$screen} and (min-resolution: 192dpi)",
  "#{$screen} and (min-resolution: 2dppx)"
);

html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.5;
  background-color: $light-grey;
  color: $darkest-blue;
  -webkit-font-smoothing: antialiased;
}

.main {
  margin: 0 auto 4em;
  max-width: 1600px;
}

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2.36859em;
  line-height: 1.5;
  margin:0;
}

h2 {
  font-size: 1.83288em;
  line-height: 1.5;
  margin:0;
}

h3 {
  font-size: 1.77689em;
  line-height: 1.5;
  margin:0;
}

h4 {
  font-size: 1.375em;
  line-height: 1.5;
  margin:0;
}

h5 {
  font-size: 1.333em;
  line-height: 1.5;
  margin:0;
}

h6 {
  font-size: 1.03151em;
  line-height: 1.5;
  margin:0;
}

a,
a:hover,
a:visited,
a:active {
  color: #d90429;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

%button-base {
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 0.6em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  transition: all 75ms ease-in-out;
  i {
    font-size: .8em;
  }
}

@mixin button($color, $background, $hover-background) {
  color: $color;
  background-color: $background;
  border-color: $background;

  &:hover{
      // just in case this is a link, don't underline the text
      text-decoration:none;
      background-color: $hover-background;
  }

  &[disabled] {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';   /* IE 8 */
    opacity: .5;
  }
}

a.button,
button,
[role=button].daw-button, {

  @extend %button-base;

  // Action button
  &.action {
    @include button(#ffffff,$light-blue,$blue);
  }

}

select {
  margin-left: 0.3em;
  background-color: white;

  &:focus, &:active {
    border-color: $light-blue;
  }
}

.loader {
    border: 5px solid $blue;
    border-top: 5px solid $lightest-blue;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1.7s linear infinite;

    span {
      font-size: 22px;
      margin-top: -48px;
      display: block;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
